<div class="row">
    <div class="span12 col-lg-12">
        <div class="panel">
            <div class="panel-body">
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {'action': path('sonata_user_change_password'), 'attr': {'class': 'fos_user_change_password'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-danger"><i class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
{{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
