{% extends "bodybase.html.twig" %}

{% block bodycontainer %}
<h2>{{ "change_password.title"|trans({}, "FOSUserBundle") }}</h2>
{% include "ElearningUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock %}
