<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Sheet1{% endblock %}</title>
    </head>
    <body>
        {% block table %}
        {% endblock %}
    </body>
</html>
