Elearning\CoursesBundle\Entity\SubjectStatus:
    type: entity
    table: subject_statuses
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
        code:
            type: string
            nullable: false
        description:
            type: string
            nullable: true
        active:
            type: boolean
            nullable: false
            options:
                default: 1